<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livros da Biblioteca</title>
</head>
<body>

<h2>Cadastrar Novo Livro 📚</h2>
<form action="/livros/cadastrar" method="post">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required>

    <label for="autor">Autor:</label>
    <input type="text" id="autor" name="autor" required>

    <label for="ano">Ano:</label>
    <input type="number" id="ano" name="ano" required>

    <label for="categoria">Categoria:</label>
    <input type="text" id="categoria" name="categoria" required>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required>

    <button type="submit">Cadastrar Livro</button>
</form>

<h1>Lista de Livros 📖</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Ano</th>
        <th>Categoria</th>
        <th>ISBN</th>
        <th>Ação</th>
    </tr>
    <tr th:each="livro : ${livros}">
        <td th:text="${livro.id_livro}"></td>
        <td th:text="${livro.titulo}"></td>
        <td th:text="${livro.autor}"></td>
        <td th:text="${livro.ano}"></td>
        <td th:text="${livro.categoria}"></td>
        <td th:text="${livro.isbn}"></td>
        <td>
            <a th:href="@{/livros/deletar/{id}(id=${livro.id_livro})}">Excluir</a>
            <a th:href="@{/livros/editar/{id}(id=${livro.id_livro})}">Editar</a>
        </td>
    </tr>
</table>

<a href="/">Voltar para Home</a>

</body>
</html>